In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mpl_dates
import mplfinance as mpf

In [5]:
%matplotlib inline

In [5]:
# df = pd.read_csv('Y:/tq_data/ticks/SHFE.rb2303C4100.csv')
df = pd.read_hdf('Z:/tq_data/ticks/SHFE.al2111C21400.h5')

In [6]:
df

,datetime,datetime_nano,SHFE.rb2303C4100.last_price,SHFE.rb2303C4100.highest,SHFE.rb2303C4100.lowest,SHFE.rb2303C4100.average,SHFE.rb2303C4100.volume,SHFE.rb2303C4100.amount,SHFE.rb2303C4100.open_interest,SHFE.rb2303C4100.bid_price1,...,SHFE.rb2303C4100.ask_price3,SHFE.rb2303C4100.ask_volume3,SHFE.rb2303C4100.bid_price4,SHFE.rb2303C4100.bid_volume4,SHFE.rb2303C4100.ask_price4,SHFE.rb2303C4100.ask_volume4,SHFE.rb2303C4100.bid_price5,SHFE.rb2303C4100.bid_volume5,SHFE.rb2303C4100.ask_price5,SHFE.rb2303C4100.ask_volume5
0,2022-12-23 19:16:18.100000000,1671794178100000000,NaN,NaN,NaN,NaN,0,0.0,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
1,2022-12-23 22:59:59.999500000,1671807599999500000,NaN,NaN,NaN,NaN,0,0.0,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2,2022-12-23 22:59:59.999501000,1671807599999501000,NaN,NaN,NaN,NaN,0,0.0,0,88.0,...,NaN,0,43.5,11,NaN,0,35.5,10,NaN,0
3,2022-12-26 09:00:00.500001000,1672016400500001000,88.0,88.0,88.0,88.00000,1,880.0,1,45.5,...,NaN,0,35.5,10,NaN,0,30.5,10,NaN,0
4,2022-12-26 09:00:01.500000000,1672016401500000000,88.0,88.0,88.0,88.00000,1,880.0,1,45.5,...,NaN,0,35.5,10,NaN,0,30.5,10,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543717,2023-02-22 14:59:46.000000000,1677049186000000000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
543718,2023-02-22 14:59:51.000000000,1677049191000000000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
543719,2023-02-22 14:59:54.000000000,1677049194000000000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
543720,2023-02-22 14:59:59.999500000,1677049199999500000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
543721,2023-02-22 14:59:59.999501000,1677049199999501000,144.0,161.5,128.0,138.67183,774,1073320.0,0,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0

In [7]:
df.index = pd.to_datetime(df.datetime, format='%Y-%m-%d %H:%M:%S.%f')

In [8]:
df

,datetime,datetime_nano,SHFE.rb2303C4100.last_price,SHFE.rb2303C4100.highest,SHFE.rb2303C4100.lowest,SHFE.rb2303C4100.average,SHFE.rb2303C4100.volume,SHFE.rb2303C4100.amount,SHFE.rb2303C4100.open_interest,SHFE.rb2303C4100.bid_price1,...,SHFE.rb2303C4100.ask_price3,SHFE.rb2303C4100.ask_volume3,SHFE.rb2303C4100.bid_price4,SHFE.rb2303C4100.bid_volume4,SHFE.rb2303C4100.ask_price4,SHFE.rb2303C4100.ask_volume4,SHFE.rb2303C4100.bid_price5,SHFE.rb2303C4100.bid_volume5,SHFE.rb2303C4100.ask_price5,SHFE.rb2303C4100.ask_volume5
datetime,,,,,,,,,,,,,,,,,,,,,
2022-12-23 19:16:18.100000,2022-12-23 19:16:18.100000000,1671794178100000000,NaN,NaN,NaN,NaN,0,0.0,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2022-12-23 22:59:59.999500,2022-12-23 22:59:59.999500000,1671807599999500000,NaN,NaN,NaN,NaN,0,0.0,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2022-12-23 22:59:59.999501,2022-12-23 22:59:59.999501000,1671807599999501000,NaN,NaN,NaN,NaN,0,0.0,0,88.0,...,NaN,0,43.5,11,NaN,0,35.5,10,NaN,0
2022-12-26 09:00:00.500001,2022-12-26 09:00:00.500001000,1672016400500001000,88.0,88.0,88.0,88.00000,1,880.0,1,45.5,...,NaN,0,35.5,10,NaN,0,30.5,10,NaN,0
2022-12-26 09:00:01.500000,2022-12-26 09:00:01.500000000,1672016401500000000,88.0,88.0,88.0,88.00000,1,880.0,1,45.5,...,NaN,0,35.5,10,NaN,0,30.5,10,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-22 14:59:46.000000,2023-02-22 14:59:46.000000000,1677049186000000000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
2023-02-22 14:59:51.000000,2023-02-22 14:59:51.000000000,1677049191000000000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
2023-02-22 14:59:54.000000,2023-02-22 14:59:54.000000000,1677049194000000000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
2023-02-22 14:59:59.999500,2023-02-22 14:59:59.999500000,1677049199999500000,144.0,161.5,128.0,138.58445,746,1033840.0,2083,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0
2023-02-22 14:59:59.999501,2023-02-22 14:59:59.999501000,1677049199999501000,144.0,161.5,128.0,138.67183,774,1073320.0,0,135.0,...,NaN,0,88.0,10,NaN,0,11.0,50,NaN,0

In [9]:
resample_ohlc = df['SHFE.rb2303C4100.last_price'].resample('1Min').ohlc(_method='ohlc')

In [10]:
resample_volume = df['SHFE.rb2303C4100.volume'].resample('1Min').sum().to_frame().rename(columns={'SHFE.rb2303C4100.volume': 'volume'})
resample_amount = df['SHFE.rb2303C4100.amount'].resample('1Min').sum().to_frame().rename(columns={'SHFE.rb2303C4100.amount': 'amount'})

In [11]:
exdf = pd.concat([resample_ohlc, resample_volume, resample_amount], axis=1)

In [1]:
exdf.shape

NameError: name 'exdf' is not defined

In [2]:
exdf.iloc[-200:-150]

NameError: name 'exdf' is not defined

In [59]:
# ddf = exdf.resample('d')

In [61]:
# ddf

In [ ]:
fig, ax = plt.subplots()
  
candlestick_ohlc(ax, exdf.values, width=0.6, colorup='green', colordown='red', alpha=0.8)
  
# Setting labels & titles
ax.set_xlabel('Date')
ax.set_ylabel('Price')
fig.suptitle('rb2303C4100')
  
# Formatting Date
date_format = mpl_dates.DateFormatter('%Y-%m-%d %H:%M:%S.%f')
ax.xaxis.set_major_formatter(date_format)
fig.autofmt_xdate()
  
fig.tight_layout()
  
plt.show()

In [6]:
df = pd.read_hdf('Z:/tq_data/ticks/SHFE.al2111C21400.h5')

In [9]:
df.index = pd.to_datetime(df.datetime, format='%Y-%m-%d %H:%M:%S.%f')

In [10]:
resample_ohlc = df['SHFE.al2111C21400.last_price'].resample('1Min').ohlc(_method='ohlc')
resample_volume = df['SHFE.al2111C21400.volume'].resample('1Min').sum().to_frame().rename(columns={'SHFE.al2111C21400.volume': 'volume'})
resample_amount = df['SHFE.al2111C21400.amount'].resample('1Min').sum().to_frame().rename(columns={'SHFE.al2111C21400.amount': 'amount'})

In [11]:
df = pd.concat([resample_ohlc, resample_volume, resample_amount], axis=1)

In [20]:
df

                      open   high    low  close  volume       amount
datetime
2021-07-12 18:32:00    NaN    NaN    NaN    NaN       0          0.0
2021-07-12 18:33:00    NaN    NaN    NaN    NaN       0          0.0
2021-07-12 18:34:00    NaN    NaN    NaN    NaN       0          0.0
2021-07-12 18:35:00    NaN    NaN    NaN    NaN       0          0.0
2021-07-12 18:36:00    NaN    NaN    NaN    NaN       0          0.0
...                    ...    ...    ...    ...     ...          ...
2021-10-25 14:55:00  222.0  222.0  222.0  222.0  104157   82080615.0
2021-10-25 14:56:00  222.0  222.0  222.0  222.0  112959   89017005.0
2021-10-25 14:57:00  222.0  222.0  222.0  222.0  127629  100577655.0
2021-10-25 14:58:00  222.0  222.0  222.0  222.0   82152   64739640.0
2021-10-25 14:59:00  222.0  222.0  222.0  222.0   13210   10407035.0

[150988 rows x 6 columns]

In [17]:
def in_time(row):
    print(row.index)
    if row.index.weekday < 5:
    
#         if row.index.hour >= 9 and row.index.hour <
    
    
#         if row.index.hour >= 22 or row.name.hour < 9 or row.name.hour == 9 and row.name.minute < 30:
        return False
    return True

In [41]:
def in_time(row):
    if row.name.weekday() < 5:
        hour_second = row.name.strftime('%H:%M')
        if (hour_second >= '09:00' and hour_second <= '10:15') or (hour_second >= '10:30' and hour_second <= '11:30') or (hour_second >= '13:30' and hour_second <= '15:00') or (hour_second >= '21:00' and hour_second <= '23:00'):
            return True
        return False
    return False

In [42]:
_df = df[df.apply(in_time, axis=1)]

In [47]:
_df.iloc[-800:-750]

                     open  high  low  close  volume  amount
datetime
2021-10-21 11:19:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:20:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:21:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:22:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:23:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:24:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:25:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:26:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:27:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:28:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:29:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 11:30:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:30:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:31:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:32:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:33:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:34:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:35:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:36:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:37:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:38:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:39:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:40:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:41:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:42:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:43:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:44:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:45:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:46:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:47:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:48:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:49:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:50:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:51:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:52:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:53:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:54:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:55:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:56:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:57:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:58:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 13:59:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:00:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:01:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:02:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:03:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:04:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:05:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:06:00   NaN   NaN  NaN    NaN       0     0.0
2021-10-21 14:07:00   NaN   NaN  NaN    NaN       0     0.0

In [ ]:
mpf.plot(df.iloc[-2000:], 
         type='candle', 
         volume=True, 
         mav=(3,6,9), 
         figratio=(3,1), 
         style='yahoo', 
         title='al2111C21400',
         datetime_format='%Y-%m-%d %H:%M:%S')