##### https://waditu.com

In [1]:
import tushare as ts

In [2]:
ts.set_token('42731ca565c5d019007ef5cd7db7808757b2ea3fdbfb31d4f7b6144b')

In [3]:
pro = ts.pro_api()

In [8]:
data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [9]:
data[data['name'] == '南威软件']

        ts_code  symbol  name area industry list_date
3614  603636.SH  603636  南威软件   福建     软件服务  20141230

In [8]:
data[data['symbol'] == '002022']

       ts_code  symbol  name area industry list_date
475  002022.SZ  002022  科华生物   上海     医疗保健  20040721

In [8]:
data[data['industry'] == '医疗保健']

        ts_code  symbol   name area industry list_date
59    000150.SZ  000150   宜华健康   广东     医疗保健  20000807
99    000503.SZ  000503   国新健康   海南     医疗保健  19921130
104   000509.SZ  000509  *ST华塑   四川     医疗保健  19930507
108   000516.SZ  000516   国际医学   陕西     医疗保健  19930809
252   000710.SZ  000710   贝瑞基因   四川     医疗保健  19970422
...         ...     ...    ...  ...      ...       ...
3972  688358.SH  688358   祥生医疗   江苏     医疗保健  20191203
3983  688389.SH  688389   普门科技   深圳     医疗保健  20191105
3985  688393.SH  688393    安必平   广东     医疗保健  20200820
3988  688399.SH  688399   硕世生物   江苏     医疗保健  20191205
4018  688580.SH  688580   伟思医疗   江苏     医疗保健  20200721

[102 rows x 6 columns]

In [9]:
data.shape

(4029, 6)

In [9]:
df = ts.get_tick_data('600848',date='2014-01-09')
df.head(10)

AttributeError: 'NoneType' object has no attribute 'head'

In [12]:
data[data['name'] == '上证高新']

Empty DataFrame
Columns: [ts_code, symbol, name, area, industry, list_date]
Index: []