### https://www.akshare.xyz/data/option/option.html

In [2]:
import akshare as ak

In [9]:
option_finance_board_df = ak.option_finance_board(symbol='华夏上证50ETF期权', end_month="2303")

In [10]:
option_finance_board_df

                日期             合约交易代码     当前价    涨跌幅     前结价    行权价  数量
0   20230209134734  510050C2303A02650  0.1767  13.34  0.1559  2.613  66
1   20230209134734  510050C2303A02700  0.1404  17.59  0.1194  2.662  66
2   20230209134734  510050C2303A02750  0.1044  17.97  0.0885  2.711  66
3   20230209134734  510050C2303A02800  0.0754  18.93  0.0634  2.761  66
4   20230209134734  510050C2303A02850  0.0531  22.07  0.0435  2.810  66
..             ...                ...     ...    ...     ...    ...  ..
61  20230209134734  510050P2303M02950  0.1908 -11.50  0.2156  2.950  66
62  20230209134734  510050C2303M03000  0.0123  24.24  0.0099  3.000  66
63  20230209134734  510050P2303M03000  0.2345  -9.91  0.2603  3.000  66
64  20230209134734  510050C2303M03100  0.0060  15.38  0.0052  3.100  66
65  20230209134734  510050P2303M03100  0.3302  -8.28  0.3600  3.100  66

[66 rows x 7 columns]

In [11]:
option_finance_board_df = ak.option_finance_board(symbol="嘉实沪深300ETF期权", end_month="2303")

In [12]:
option_finance_board_df

,合约编码,合约简称,标的名称,类型,行权价,合约单位,期权行权日,行权交收日
0,90001173,沪深300ETF购3月3900,沪深300ETF,认购,3.900,10000,2023-03-22,2023-03-23
1,90001174,沪深300ETF购3月4000,沪深300ETF,认购,4.000,10000,2023-03-22,2023-03-23
2,90001175,沪深300ETF购3月4100,沪深300ETF,认购,4.100,10000,2023-03-22,2023-03-23
3,90001176,沪深300ETF购3月4200,沪深300ETF,认购,4.200,10000,2023-03-22,2023-03-23
4,90001177,沪深300ETF购3月4300,沪深300ETF,认购,4.300,10000,2023-03-22,2023-03-23
...,...,...,...,...,...,...,...,...
111,90001798,创业板ETF沽3月2700,创业板ETF,认沽,2.700,10000,2023-03-22,2023-03-23
112,90001811,中证500ETF购3月7500,中证500ETF,认购,7.500,10000,2023-03-22,2023-03-23
113,90001812,中证500ETF沽3月7500,中证500ETF,认沽,7.500,10000,2023-03-22,2023-03-23
114,90001889,创业板ETF购3月2750,创业板ETF,认购,2.750,10000,2023-03-22,2023-03-23
115,90001890,创业板ETF沽3月2750,创业板ETF,认沽,2.750,10000,2023-03-22,2023-03-23

In [8]:
option_finance_board_df = ak.option_finance_board(symbol="沪深300股指期权", end_month="2303")

In [9]:
option_finance_board_df

,instrument,position,volume,lastprice,updown,bprice,bamount,sprice,samount
54,IO2303-C-3100,53,3,984.0,1.0,991.4,9,998.2,12
55,IO2303-C-3200,113,1,899.4,16.0,892.2,6,898.0,6
56,IO2303-C-3300,78,2,802.2,18.2,792.4,12,798.0,6
57,IO2303-C-3400,234,4,684.0,-0.6,695.0,4,699.6,6
58,IO2303-C-3450,6,2,649.6,14.4,645.4,1,649.0,6
...,...,...,...,...,...,...,...,...,...
115,IO2303-P-4650,5,2,552.2,-16.4,552.8,9,556.2,1
116,IO2303-P-4700,161,2,601.2,-16.6,602.4,3,605.4,1
117,IO2303-P-4800,166,2,712.8,-4.2,701.2,6,706.0,12
118,IO2303-P-4900,131,2,813.8,-2.6,800.4,1,805.4,12
119,IO2303-P-5000,341,3,901.4,-14.8,900.0,1,905.2,6

In [12]:
option_risk_indicator_sse_df = ak.option_risk_indicator_sse(date='20230206') # 20220516

In [13]:
option_risk_indicator_sse_df

,TRADE_DATE,SECURITY_ID,CONTRACT_ID,CONTRACT_SYMBOL,DELTA_VALUE,THETA_VALUE,GAMMA_VALUE,VEGA_VALUE,RHO_VALUE,IMPLC_VOLATLTY
0,2023-02-06,10004939,510050C2302M02450,50ETF购2月2450,0.983,-0.141,0.286,0.024,0.105,0.258
1,2023-02-06,10004940,510050C2302M02500,50ETF购2月2500,1.000,-0.073,0.000,0.000,0.109,0.000
2,2023-02-06,10004941,510050C2302M02550,50ETF购2月2550,0.949,-0.217,0.844,0.060,0.105,0.215
3,2023-02-06,10004942,510050C2302M02600,50ETF购2月2600,0.897,-0.309,1.526,0.103,0.101,0.205
4,2023-02-06,10004943,510050C2302M02650,50ETF购2月2650,0.800,-0.426,2.445,0.160,0.091,0.199
...,...,...,...,...,...,...,...,...,...,...
417,2023-02-06,10005155,510500P2309M06500,500ETF沽9月6500,-0.486,-0.228,0.376,2.016,-2.251,0.210
418,2023-02-06,10005156,510500P2309M06750,500ETF沽9月6750,-0.570,-0.217,0.355,1.986,-2.693,0.219
419,2023-02-06,10005157,510500P2309M07000,500ETF沽9月7000,-0.640,-0.198,0.323,1.892,-3.095,0.229
420,2023-02-06,10005158,510500P2309M07250,500ETF沽9月7250,-0.694,-0.179,0.286,1.772,-3.447,0.243
421,2023-02-06,10005168,510500P2309M07500,500ETF沽9月7500,-0.735,-0.163,0.250,1.655,-3.751,0.258

In [3]:
option_cffex_sz50_list_sina_df = ak.option_cffex_sz50_list_sina()

In [4]:
option_cffex_sz50_list_sina_df

{'上证50指数': ['ho2302', 'ho2303', 'ho2309', 'ho2306', 'ho2304', 'ho2312']}

In [15]:
option_cffex_hs300_list_sina_df = ak.option_cffex_hs300_list_sina()

In [16]:
option_cffex_hs300_list_sina_df

{'上证50指数': ['io2302', 'io2303', 'io2309', 'io2306', 'io2312', 'io2304']}

In [41]:
option_cffex_hs300_spot_sina_df = ak.option_cffex_hs300_spot_sina(symbol="io2303")

In [42]:
option_cffex_hs300_spot_sina_df

,看涨合约-买量,看涨合约-买价,看涨合约-最新价,看涨合约-卖价,看涨合约-卖量,看涨合约-持仓量,看涨合约-涨跌,行权价,看涨合约-标识,看跌合约-买量,看跌合约-买价,看跌合约-最新价,看跌合约-卖价,看跌合约-卖量,看跌合约-持仓量,看跌合约-涨跌,看跌合约-标识
0,1,971.8,1000.0,1000.2,1,51,0.66,3100,io2303C3100,50,0.8,1.0,1.0,65,432,400.00,io2303P3100
1,1,884.0,899.4,913.4,1,113,1.81,3200,io2303C3200,26,1.0,1.0,1.2,71,224,400.00,io2303P3200
2,1,784.4,802.2,813.8,1,78,2.32,3300,io2303C3300,12,1.0,1.0,1.2,51,154,0.00,io2303P3300
3,1,746.6,720.8,750.6,6,232,4.95,3400,io2303C3400,23,1.0,1.2,1.2,30,308,0.00,io2303P3400
4,1,635.6,649.6,662.8,1,6,2.27,3450,io2303C3450,6,1.2,1.2,1.4,45,110,-14.29,io2303P3450
5,1,647.2,620.8,650.6,9,194,5.61,3500,io2303C3500,6,1.4,1.4,1.6,30,677,-22.22,io2303P3500
6,1,536.8,543.6,561.6,1,15,1.46,3550,io2303C3550,24,1.2,1.2,1.6,39,166,-45.45,io2303P3550
7,12,546.6,544.6,551.0,6,163,11.28,3600,io2303C3600,3,1.6,1.6,1.8,56,402,-42.86,io2303P3600
8,12,497.8,494.6,501.8,9,19,12.26,3650,io2303C3650,10,2.0,2.0,2.2,7,143,-50.00,io2303P3650
9,1,450.0,444.8,453.2,9,177,13.35,3700,io2303C3700,11,3.0,3.2,3.2,11,727,-44.83,io2303P3700
10,1,401.6,378.4,404.2,3,18,9.74,3750,io2303C3750,36,4.2,4.4,4.6,19,679,-47.62,io2303P3750
11,6,352.2,351.8,356.0,6,394,19.09,3800,io2303C3800,30,6.0,6.4,6.2,1,932,-45.76,io2303P3800
12,1,306.8,303.2,309.4,3,73,18.90,3850,io2303C3850,20,9.2,9.2,9.4,1,1073,-47.13,io2303P3850
13,1,262.0,258.0,264.2,3,296,23.21,3900,io2303C3900,9,14.2,14.2,14.6,10,1514,-42.74,io2303P3900
14,1,219.2,218.0,221.6,7,94,25.72,3950,io2303C3950,6,21.4,22.0,21.8,6,785,-38.55,io2303P3950
15,7,179.4,180.6,180.8,3,1043,31.82,4000,io2303C4000,19,31.4,31.4,32.0,12,2346,-38.43,io2303P4000
16,1,144.2,143.0,145.4,1,486,30.95,4050,io2303C4050,13,44.8,45.8,45.6,3,1079,-34.76,io2303P4050
17,9,111.8,112.4,113.0,3,1067,40.50,4100,io2303C4100,14,63.0,63.0,63.6,1,1409,-32.40,io2303P4100
18,14,85.0,85.2,86.0,8,790,44.41,4150,io2303C4150,14,85.6,85.6,86.2,2,992,-29.72,io2303P4150
19,1,64.0,64.6,64.6,8,3178,46.82,4200,io2303C4200,9,113.2,114.0,114.6,8,1492,-26.55,io2303P4200
20,8,45.6,46.0,46.2,6,796,48.39,4250,io2303C4250,17,145.2,145.2,146.0,6,1062,-24.61,io2303P4250
21,8,32.8,33.4,33.6,23,3078,59.05,4300,io2303C4300,6,183.2,183.0,184.2,1,917,-21.73,io2303P4300
22,9,23.0,23.4,23.6,6,860,50.00,4350,io2303C4350,12,222.2,233.4,224.4,1,185,-16.04,io2303P4350
23,7,16.6,16.8,17.0,19,2545,50.00,4400,io2303C4400,6,265.6,275.0,269.4,6,524,-14.76,io2303P4400
24,21,11.6,11.6,12.0,6,624,38.10,4450,io2303C4450,6,310.4,312.8,312.8,1,34,-15.32,io2303P4450
25,9,9.2,9.4,9.4,4,2000,46.88,4500,io2303C4500,6,357.2,358.4,360.8,12,380,-14.09,io2303P4500
26,33,6.2,6.6,6.8,32,247,43.48,4550,io2303C4550,6,404.6,406.6,407.0,1,55,-12.67,io2303P4550
27,14,4.8,5.0,5.0,1,1094,31.58,4600,io2303C4600,1,505.4,510.8,525.6,1,279,0.47,io2303P4600
28,20,3.8,3.8,4.0,12,122,18.75,4650,io2303C4650,3,501.6,503.8,504.2,1,17,-10.74,io2303P4650
29,44,3.2,3.0,3.4,1,530,7.14,4700,io2303C4700,1,589.6,601.2,615.8,1,161,-2.69,io2303P4700
30,6,2.4,2.4,2.6,6,652,9.09,4800,io2303C4800,7,648.6,651.8,653.8,18,172,-8.51,io2303P4800
31,14,1.8,2.0,2.0,22,313,0.00,4900,io2303C4900,3,747.4,791.0,753.2,6,132,-2.56,io2303P4900
32,13,1.8,1.8,2.0,42,1707,0.00,5000,io2303C5000,7,847.4,853.6,853.4,6,316,-6.34,io2303P5000

In [34]:
option_cffex_hs300_daily_sina_df = ak.option_cffex_hs300_daily_sina(symbol="io2303C3100")

In [35]:
option_cffex_hs300_daily_sina_df

          date    open    high     low   close  volume
0   2022-10-31   464.8   483.0   453.8   462.8      14
1   2022-11-01   487.4   525.2   487.0   525.2      10
2   2022-11-02   610.4   613.8   606.0   609.8       9
3   2022-11-03   588.0   588.0   585.0   585.0       2
4   2022-11-04   711.8   711.8   703.0   703.0      10
5   2022-11-07   680.0   682.0   680.0   682.0      18
6   2022-11-08   681.0   681.0   676.4   676.4       3
7   2022-11-09   664.2   664.2   640.0   640.0       4
8   2022-11-10   615.0   616.0   615.0   616.0       3
9   2022-11-11   760.0   788.2   687.8   735.0       6
10  2022-11-14   753.0   753.0   719.8   719.8       3
11  2022-11-15   784.8   784.8   784.8   784.8       1
12  2022-11-16   772.2   772.2   769.2   769.2       7
13  2022-11-21   690.0   690.0   690.0   690.0       2
14  2022-11-22   686.2   696.0   683.6   696.0       4
15  2022-11-25   714.8   714.8   714.8   714.8       1
16  2022-11-29   734.8   775.8   734.8   775.8       2
17  2022-11-30   784.0   784.0   781.0   781.0       3
18  2022-12-01   858.0   858.0   847.0   847.0       2
19  2022-12-02   820.4   820.4   820.4   820.4       1
20  2022-12-05   841.2   864.2   841.2   864.2       5
21  2022-12-06   899.6   911.6   886.2   886.2       6
22  2022-12-08   878.2   891.6   878.2   884.4       5
23  2022-12-09   877.2   877.2   877.2   877.2       1
24  2022-12-15   877.0   877.0   872.6   872.6       2
25  2022-12-16   871.4   871.4   871.0   871.0       2
26  2022-12-19   877.8   878.8   828.8   837.2      11
27  2022-12-20   777.4   777.4   772.2   772.2       2
28  2022-12-21   773.0   773.0   773.0   773.0       1
29  2022-12-28   812.0   812.0   812.0   812.0       1
30  2023-01-05   884.2   884.2   884.2   884.2       1
31  2023-01-06   902.0   902.0   902.0   902.0       1
32  2023-01-09   927.4   927.4   927.2   927.2       3
33  2023-01-10   933.4   934.6   933.2   933.8       6
34  2023-01-11   925.2   957.0   925.2   951.8       6
35  2023-01-16  1073.8  1097.8  1073.8  1097.8       4
36  2023-01-19  1049.6  1049.6  1049.6  1049.6       1
37  2023-01-20  1115.0  1115.0  1115.0  1115.0       1
38  2023-01-30  1156.0  1156.0  1156.0  1156.0       1
39  2023-01-31  1111.8  1111.8  1111.8  1111.8       3
40  2023-02-03  1038.0  1038.0  1028.0  1028.0       2
41  2023-02-07  1000.0  1000.0   984.0   984.0       3
42  2023-02-08  1005.0  1005.0  1000.0  1000.0       2

In [26]:
option_sse_codes_sina_df = ak.option_sse_codes_sina(trade_date='202302', underlying='510050')

In [27]:
option_sse_codes_sina_df

    序号      期权代码
0    1  10004939
1    2  10004940
2    3  10004941
3    4  10004942
4    5  10004943
5    6  10004944
6    7  10004945
7    8  10004946
8    9  10004947
9   10  10004995
10  11  10004999
11  12  10005009
12  13  10005089

In [32]:
option_sse_minute_sina_df = ak.option_sse_minute_sina(symbol="10004929")

In [33]:
option_sse_minute_sina_df

             日期        时间      价格  成交     持仓      均价
0    2023-02-07  09:26:00  0.0262   0      0  0.0262
1    2023-02-07  09:27:00  0.0262   0      0  0.0262
2    2023-02-07  09:28:00  0.0262   0      0  0.0262
3    2023-02-07  09:29:00  0.0262   0      0  0.0262
4    2023-02-07  09:30:00  0.0279  91  23098  0.0278
..          ...       ...     ...  ..    ...     ...
330  2023-02-07  14:56:00  0.0253   1  24130  0.0256
331  2023-02-07  14:57:00  0.0253   0  24151  0.0256
332  2023-02-07  14:58:00  0.0253   0      0  0.0256
333  2023-02-07  14:59:00  0.0253   0      0  0.0256
334  2023-02-07  15:00:00  0.0253   0  24151  0.0256

[335 rows x 6 columns]

In [14]:
option_daily_hist_em_df = ak.option_current_em()

In [16]:
option_daily_hist_em_df

,代码,名称,最新价,涨跌额,涨跌幅,成交量,成交额,持仓量,行权价,剩余日,日增,昨结,今开
0,ru2306P11750,橡胶23年06月沽11750,163.0000,162.0000,16200.00,1.0,1630.00,19.0,NaN,NaN,1.0,1.000,163.0000
1,v2304c10000,PVC23年04月购10000,50.0000,49.5000,9900.00,1.0,250.00,28.0,NaN,NaN,1.0,0.500,50.0000
2,cu2305P53000,沪铜23年05月沽53000,32.0000,30.0000,1500.00,34.0,6350.00,331.0,NaN,NaN,-1.0,2.000,46.0000
3,i2306p550,铁矿石23年06月沽550,1.5000,1.4000,1400.00,2.0,300.00,3.0,NaN,NaN,0.0,0.100,1.5000
4,v2305c8000,PVC23年05月购8000,7.0000,6.5000,1300.00,170.0,6032.00,4034.0,NaN,NaN,70.0,0.500,6.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10827,10004970,300ETF沽2月3840A,0.0012,-0.0028,-70.00,5960.0,113486.19,15749.0,3.84,13.0,1662.0,0.004,0.0041
10828,ru2305P11000,橡胶23年05月沽11000,15.0000,-37.0000,-71.15,212.0,30480.00,644.0,NaN,NaN,-21.0,52.000,14.0000
10829,ru2305P10500,橡胶23年05月沽10500,5.0000,-13.0000,-72.22,38.0,1900.00,426.0,NaN,NaN,3.0,18.000,5.0000
10830,pp2304p8600,聚丙烯23年04月沽8600,201.0000,-537.5000,-72.78,1.0,1005.00,6.0,NaN,NaN,0.0,738.500,201.0000
10831,ru2305P10750,橡胶23年05月沽10750,8.0000,-23.0000,-74.19,47.0,3740.00,363.0,NaN,NaN,-10.0,31.000,8.0000

In [33]:
option_daily_hist_em_df[option_daily_hist_em_df['代码'].str.startswith('IF')]
# option_daily_hist_em_df[option_daily_hist_em_df['名称'].str.contains('ETF')]

Empty DataFrame
Columns: [代码, 名称, 最新价, 涨跌额, 涨跌幅, 成交量, 成交额, 持仓量, 行权价, 剩余日, 日增, 昨结, 今开]
Index: []

In [3]:
option_lhb_em_df = ak.option_lhb_em(symbol="510300", indicator="期权持仓情况-认沽持仓量", trade_date="20230206")

In [4]:
option_lhb_em_df

,交易类型,交易日期,证券代码,标的名称,名次,机构,持仓量,增减,净持仓量,占总交易量比例
0,认沽持仓量,2023-02-06,510300,300ETF,1.0,国君期货,135232.0,-5480.0,18554.0,0.096672
1,认沽持仓量,2023-02-06,510300,300ETF,2.0,中信证券,91783.0,-1347.0,7555.0,0.065612
2,认沽持仓量,2023-02-06,510300,300ETF,3.0,中信期货,80608.0,0.0,NaN,0.057623
3,认沽持仓量,2023-02-06,510300,300ETF,4.0,华泰证券,78548.0,-374.0,-15133.0,0.056151
4,认沽持仓量,2023-02-06,510300,300ETF,5.0,中泰期货,57466.0,-15766.0,NaN,0.041080
5,认沽持仓量,2023-02-06,510300,300ETF,NaN,前五名合计,443637.0,-9573.0,16360.0,0.317138
6,认沽持仓量,2023-02-06,510300,300ETF,NaN,总成交量,1398878.0,-11466.0,-173518.0,1.000000

In [5]:
stock_zh_index_daily_tx_df = ak.stock_zh_index_daily_tx(symbol="sh000300")

100%|██████████████████████████████████████████████████████████████████████████████████| 19/19 [00:09<00:00,  2.11it/s]

In [6]:
stock_zh_index_daily_tx_df

            date     open    close     high      low       amount
0     2005-01-04   994.77   982.79   994.77   980.66    7412869.0
1     2005-01-05   981.58   992.56   997.32   979.88    7119109.0
2     2005-01-06   993.33   983.17   993.79   980.33    6288029.0
3     2005-01-07   983.04   983.96   995.71   979.81    7298694.0
4     2005-01-10   983.76   993.88   993.96   979.79    5791698.0
...          ...      ...      ...      ...      ...          ...
4390  2023-02-01  4170.13  4195.93  4195.93  4137.77  141008954.0
4391  2023-02-02  4207.41  4181.15  4207.41  4170.56  133823736.0
4392  2023-02-03  4162.03  4141.63  4162.03  4103.17  117041221.0
4393  2023-02-06  4103.83  4086.88  4105.94  4065.22  110192717.0
4394  2023-02-07  4098.31  4094.23  4107.34  4077.96   91360072.0

[4395 rows x 6 columns]