In [3]:
import datetime
import pandas as pd
import mplfinance as mpf
import matplotlib.pyplot as plt
import seaborn as sn

from lutils.fin.data_loader import load

In [4]:
# %matplotlib inline
# %matplotlib notebook
%matplotlib qt

In [5]:
exchange = 'SHFE' # SHFE CZCE

symbol1 = 'rb2305C4100' # al2306C18700 rb2306C3850 rb2304C4200 MA112C3200
symbol2 = 'rb2305C4150' # al2306C18800 rb2306C3900 rb2304C4250 MA112C3250

In [6]:
# start_date = '2021-10-24' # 2023-02-24

In [7]:
df1 = load(exchange, symbol1)

load Z:/tq_data/ticks\SHFE.rb2305C4100.h5

In [8]:
df2 = load(exchange, symbol2)

load Z:/tq_data/ticks\SHFE.rb2305C4150.h5

In [9]:
# df1.tail()

In [10]:
# df2.tail()

In [11]:
df1.index = df1.datetime
df2.index = df2.datetime

In [12]:
resample_ohlc_min1 = df1['last_price'].resample('1Min', closed='left', label='right').ohlc(_method='ohlc')
resample_volume_min1 = df1['volume'].resample('1Min', closed='left', label='right').sum()
resample_amount_min1 = df1['amount'].resample('1Min', closed='left', label='right').sum()
df_min1 = pd.concat([resample_ohlc_min1, resample_volume_min1, resample_amount_min1], axis=1)

In [13]:
resample_ohlc_min2 = df2['last_price'].resample('1Min', closed='left', label='right').ohlc(_method='ohlc')
resample_volume_min2 = df2['volume'].resample('1Min', closed='left', label='right').sum()
resample_amount_min2 = df2['amount'].resample('1Min', closed='left', label='right').sum()
df_min2 = pd.concat([resample_ohlc_min2, resample_volume_min2, resample_amount_min2], axis=1)

In [14]:
resample_ohlc_day1 = df_min1.resample('24H', closed='left', label='right', offset='21H').agg({
#         'Contract': 'first',
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum',
#         'amount': 'sum'
#         'OpenInterest': 'sum'
    }).dropna()

In [15]:
resample_ohlc_day2 = df_min2.resample('24H', closed='left', label='right', offset='21H').agg({
#         'Contract': 'first',
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum',
#         'OpenInterest': 'sum'
    }).dropna()

In [16]:
# df = df_min2.sub(df_min1).dropna()
df = df_min1.sub(df_min2).dropna()

In [19]:
df.shape

(25712, 6)

In [20]:
end_time = df.iloc[-1].name
start_time = df.iloc[-1].name - datetime.timedelta(days=35)

In [21]:
start_time

Timestamp('2023-03-20 15:00:00')

In [22]:
end_time

Timestamp('2023-04-24 15:00:00')

In [23]:
# underlying_min.loc[(underlying_min.index > start_time) & (underlying_min.index <= end_time)]

In [24]:
_df2 = df.loc[(df.index > start_time) & (df.index <= end_time)]

In [25]:
_df2

                     open  high   low  close  volume     amount
datetime
2023-03-20 21:21:00  32.5  32.5  32.5   32.5   -1948 -2869700.0
2023-03-20 21:22:00  32.5  32.5  32.5   32.5   -2338 -3423075.0
2023-03-20 21:23:00  32.5  32.5  32.5   32.5   -2369 -3471260.0
2023-03-20 21:24:00  32.5  32.5  29.0   29.0   -3519 -5146390.0
2023-03-20 21:25:00  29.0  29.0  29.0   29.0   -3265 -4738200.0
...                   ...   ...   ...    ...     ...        ...
2023-04-24 13:36:00   0.0   0.0   0.0    0.0      70      350.0
2023-04-24 13:38:00   0.0   0.0   0.0    0.0      70      350.0
2023-04-24 14:22:00   0.0   0.0   0.0    0.0      70      350.0
2023-04-24 14:57:00   0.0   0.0   0.0    0.0     130      650.0
2023-04-24 15:00:00   0.0   0.0   0.0    0.0     227     1135.0

[7399 rows x 6 columns]

In [27]:
_df2.close

datetime
2023-03-20 21:21:00    32.5
2023-03-20 21:22:00    32.5
2023-03-20 21:23:00    32.5
2023-03-20 21:24:00    29.0
2023-03-20 21:25:00    29.0
                       ...
2023-04-24 13:36:00     0.0
2023-04-24 13:38:00     0.0
2023-04-24 14:22:00     0.0
2023-04-24 14:57:00     0.0
2023-04-24 15:00:00     0.0
Name: close, Length: 7399, dtype: float64

In [28]:
sn.distplot(_df2.close.iloc[4000:])

D:\Software\Python\Python37\lib\site-packages\seaborn\distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)