In [1]:
import datetime
import pandas as pd
import mplfinance as mpf
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
df = pd.read_hdf('Z:/tq_data/ticks/SHFE.al2306.h5') # SHFE.al2206.h5

In [4]:
cs = []
for c in df.columns.values:
    cs.append(c.rsplit('.', 1)[-1])
columns = dict(zip(df.columns.values, cs))
df = df.rename(columns=columns)

In [5]:
df['tradetime'] = pd.to_datetime(df.datetime, format='%Y-%m-%d %H:%M:%S.%f')

In [6]:
_df = df[(df.tradetime.dt.hour >= 8) | (df.tradetime.dt.hour <= 1)]

In [7]:
# _df.loc[_df.tradetime.dt.dayofweek > 4]

In [8]:
tradetime = df.loc[((df.tradetime.dt.dayofweek >= 4) & (df.tradetime.dt.hour >= 20)) | (df.tradetime.dt.dayofweek > 4)].tradetime + datetime.timedelta(days=2)

In [9]:
# tradetime.loc[2550347]

In [10]:
_df.loc[tradetime.index, 'tradetime'] = tradetime.values

D:\Software\Python\Python37\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [11]:
# _df.loc[_df.tradetime.dt.hour > 20, 'tradetime'] = _df.loc[_df.tradetime.dt.hour > 20].tradetime + datetime.timedelta(days=1)

In [12]:
# _df.loc[tradetime.index].tradetime = tradetime.values

In [13]:
# _df.loc[(_df.tradetime.dt.dayofweek >= 4) & (_df.tradetime.dt.hour >= 20)].tradetime = _df.loc[(_df.tradetime.dt.dayofweek >= 4) & (_df.tradetime.dt.hour >= 20)].tradetime + datetime.timedelta(days=2)
# _df.loc[_df.tradetime.dt.dayofweek > 4].tradetime = _df.loc[_df.tradetime.dt.dayofweek > 4].tradetime + datetime.timedelta(days=2)

In [14]:
# _df.loc[2550347]

In [15]:
_df.index = _df.tradetime

In [16]:
resample_ohlc = _df['last_price'].resample('1Min', closed='left', label='right').ohlc(_method='ohlc')

In [17]:
# _df1 = pd.concat([_df.last_price.rename('open'), _df.last_price.rename('high'), _df.last_price.rename('low'), _df.last_price.rename('close'), _df.tradetime], axis=1)

In [18]:
# resample_ohlc = _df1.resample('1Min', closed='left', label='right', on='tradetime').agg({
# #         'Contract': 'first',
#         'open': 'first',
#         'high': 'max',
#         'low': 'min',
#         'close': 'last',
# #         'Volume': 'sum',
# #         'OpenInterest': 'sum'
#     }).dropna()

In [20]:
resample_ohlc.loc['2023-04-23 21']

                        open     high      low    close
tradetime
2023-04-23 21:00:00  18960.0  18960.0  18960.0  18960.0
2023-04-23 21:01:00  18960.0  19030.0  18960.0  19025.0
2023-04-23 21:02:00  19025.0  19025.0  19000.0  19005.0
2023-04-23 21:03:00  19010.0  19020.0  19000.0  19000.0
2023-04-23 21:04:00  19000.0  19005.0  18980.0  18990.0
2023-04-23 21:05:00  18995.0  18995.0  18980.0  18990.0
2023-04-23 21:06:00  18985.0  18990.0  18970.0  18975.0
2023-04-23 21:07:00  18970.0  18980.0  18970.0  18970.0
2023-04-23 21:08:00  18970.0  18975.0  18960.0  18960.0
2023-04-23 21:09:00  18960.0  18970.0  18950.0  18965.0
2023-04-23 21:10:00  18960.0  18965.0  18955.0  18960.0
2023-04-23 21:11:00  18960.0  18965.0  18955.0  18960.0
2023-04-23 21:12:00  18960.0  18975.0  18955.0  18975.0
2023-04-23 21:13:00  18975.0  18990.0  18975.0  18980.0
2023-04-23 21:14:00  18980.0  18990.0  18980.0  18985.0
2023-04-23 21:15:00  18985.0  18985.0  18975.0  18980.0
2023-04-23 21:16:00  18980.0  18990.0  18975.0  18990.0
2023-04-23 21:17:00  18990.0  18990.0  18970.0  18970.0
2023-04-23 21:18:00  18970.0  18985.0  18970.0  18985.0
2023-04-23 21:19:00  18980.0  18985.0  18980.0  18985.0
2023-04-23 21:20:00  18985.0  18985.0  18975.0  18975.0
2023-04-23 21:21:00  18975.0  18985.0  18970.0  18980.0
2023-04-23 21:22:00  18980.0  18980.0  18965.0  18970.0
2023-04-23 21:23:00  18970.0  18975.0  18965.0  18975.0
2023-04-23 21:24:00  18975.0  18980.0  18970.0  18980.0
2023-04-23 21:25:00  18980.0  18980.0  18975.0  18975.0
2023-04-23 21:26:00  18970.0  18980.0  18965.0  18975.0
2023-04-23 21:27:00  18980.0  18980.0  18975.0  18980.0
2023-04-23 21:28:00  18980.0  18985.0  18975.0  18980.0
2023-04-23 21:29:00  18980.0  18985.0  18975.0  18980.0
2023-04-23 21:30:00  18985.0  18990.0  18980.0  18990.0
2023-04-23 21:31:00  18990.0  18990.0  18975.0  18980.0
2023-04-23 21:32:00  18980.0  18980.0  18970.0  18975.0
2023-04-23 21:33:00  18975.0  18975.0  18960.0  18960.0
2023-04-23 21:34:00  18965.0  18965.0  18955.0  18955.0
2023-04-23 21:35:00  18955.0  18960.0  18950.0  18950.0
2023-04-23 21:36:00  18955.0  18960.0  18945.0  18945.0
2023-04-23 21:37:00  18945.0  18945.0  18930.0  18935.0
2023-04-23 21:38:00  18935.0  18945.0  18935.0  18945.0
2023-04-23 21:39:00  18945.0  18945.0  18935.0  18940.0
2023-04-23 21:40:00  18940.0  18945.0  18935.0  18940.0
2023-04-23 21:41:00  18940.0  18945.0  18940.0  18940.0
2023-04-23 21:42:00  18945.0  18950.0  18940.0  18940.0
2023-04-23 21:43:00  18945.0  18950.0  18935.0  18935.0
2023-04-23 21:44:00  18935.0  18935.0  18925.0  18930.0
2023-04-23 21:45:00  18930.0  18935.0  18925.0  18935.0
2023-04-23 21:46:00  18930.0  18935.0  18920.0  18920.0
2023-04-23 21:47:00  18920.0  18920.0  18905.0  18910.0
2023-04-23 21:48:00  18910.0  18920.0  18905.0  18910.0
2023-04-23 21:49:00  18910.0  18920.0  18910.0  18920.0
2023-04-23 21:50:00  18920.0  18920.0  18905.0  18905.0
2023-04-23 21:51:00  18905.0  18910.0  18900.0  18900.0
2023-04-23 21:52:00  18905.0  18905.0  18895.0  18900.0
2023-04-23 21:53:00  18895.0  18910.0  18895.0  18910.0
2023-04-23 21:54:00  18910.0  18915.0  18905.0  18915.0
2023-04-23 21:55:00  18915.0  18915.0  18910.0  18910.0
2023-04-23 21:56:00  18910.0  18920.0  18910.0  18920.0
2023-04-23 21:57:00  18920.0  18920.0  18905.0  18915.0
2023-04-23 21:58:00  18915.0  18920.0  18915.0  18915.0
2023-04-23 21:59:00  18915.0  18920.0  18910.0  18915.0

In [41]:
# resample_ohlc1 = _df.resample('1Min', closed='left', label='right').agg({
# #         'Contract': 'first',
#         'last_price': 'first',
#         'highest': 'max',
#         'lowest': 'min',
# #         'last_price': 'last',
# #         'Volume': 'sum',
# #         'OpenInterest': 'sum'
# })

# resample_ohlc2 = _df.resample('1Min', closed='left', label='right').agg({
# #         'Contract': 'first',
#         'last_price': 'last',
# #         'last_price': 'last',
# #         'Volume': 'sum',
# #         'OpenInterest': 'sum'
# })

In [21]:
df5Min = resample_ohlc.resample('5Min', closed='left', label='right', offset='21H').agg({
#         'Contract': 'first',
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
#         'Volume': 'sum',
#         'OpenInterest': 'sum'
    }).dropna()

In [22]:
df5Min.loc['2023-04-23 21']

                        open     high      low    close
tradetime
2023-04-23 21:05:00  18960.0  19030.0  18960.0  18990.0
2023-04-23 21:10:00  18995.0  18995.0  18950.0  18965.0
2023-04-23 21:15:00  18960.0  18990.0  18955.0  18985.0
2023-04-23 21:20:00  18985.0  18990.0  18970.0  18985.0
2023-04-23 21:25:00  18985.0  18985.0  18965.0  18980.0
2023-04-23 21:30:00  18980.0  18985.0  18965.0  18980.0
2023-04-23 21:35:00  18985.0  18990.0  18955.0  18955.0
2023-04-23 21:40:00  18955.0  18960.0  18930.0  18940.0
2023-04-23 21:45:00  18940.0  18950.0  18925.0  18930.0
2023-04-23 21:50:00  18930.0  18935.0  18905.0  18920.0
2023-04-23 21:55:00  18920.0  18920.0  18895.0  18915.0

In [17]:
dfDay = resample_ohlc.resample('24H', closed='left', label='right', offset='21H').agg({
#         'Contract': 'first',
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
#         'Volume': 'sum',
#         'OpenInterest': 'sum'
    }).dropna()

In [32]:
dfDay.iloc[-100:-50]

                        open     high      low    close
tradetime
2022-12-01 21:00:00  18810.0  19175.0  18810.0  19050.0
2022-12-02 21:00:00  19045.0  19145.0  19005.0  19135.0
2022-12-05 21:00:00  19135.0  19265.0  19005.0  19165.0
2022-12-06 21:00:00  19120.0  19165.0  18950.0  19055.0
2022-12-07 21:00:00  19045.0  19145.0  18960.0  18980.0
2022-12-08 21:00:00  18980.0  19130.0  18955.0  19100.0
2022-12-09 21:00:00  19120.0  19160.0  18985.0  19105.0
2022-12-12 21:00:00  19105.0  19105.0  18670.0  18735.0
2022-12-13 21:00:00  18840.0  18840.0  18575.0  18700.0
2022-12-14 21:00:00  18705.0  18810.0  18700.0  18725.0
2022-12-15 21:00:00  18640.0  18785.0  18635.0  18725.0
2022-12-16 21:00:00  18725.0  18795.0  18580.0  18645.0
2022-12-19 21:00:00  18640.0  18695.0  18425.0  18440.0
2022-12-20 21:00:00  18440.0  18525.0  18310.0  18430.0
2022-12-21 21:00:00  18430.0  18550.0  18415.0  18500.0
2022-12-22 21:00:00  18500.0  18615.0  18495.0  18495.0
2022-12-23 21:00:00  18495.0  18535.0  18435.0  18500.0
2022-12-26 21:00:00  18500.0  18625.0  18420.0  18600.0
2022-12-27 21:00:00  18600.0  19015.0  18600.0  18990.0
2022-12-28 21:00:00  18990.0  19025.0  18685.0  18745.0
2022-12-29 21:00:00  18720.0  18720.0  18595.0  18635.0
2022-12-30 21:00:00  18635.0  18695.0  18575.0  18635.0
2023-01-03 21:00:00  18635.0  18635.0  18150.0  18225.0
2023-01-04 21:00:00  18045.0  18170.0  17860.0  17880.0
2023-01-05 21:00:00  17850.0  17950.0  17730.0  17950.0
2023-01-06 21:00:00  18010.0  18025.0  17815.0  17920.0
2023-01-09 21:00:00  17890.0  18140.0  17865.0  18050.0
2023-01-10 21:00:00  18135.0  18295.0  18095.0  18220.0
2023-01-11 21:00:00  18255.0  18340.0  18225.0  18270.0
2023-01-12 21:00:00  18280.0  18410.0  18280.0  18345.0
2023-01-13 21:00:00  18350.0  18525.0  18220.0  18500.0
2023-01-16 21:00:00  18460.0  18605.0  18395.0  18505.0
2023-01-17 21:00:00  18550.0  18680.0  18505.0  18600.0
2023-01-18 21:00:00  18560.0  18975.0  18560.0  18940.0
2023-01-19 21:00:00  19010.0  19165.0  18905.0  19030.0
2023-01-20 21:00:00  18980.0  19375.0  18920.0  19375.0
2023-01-30 21:00:00  19550.0  19550.0  18850.0  18985.0
2023-01-31 21:00:00  18995.0  19025.0  18760.0  18920.0
2023-02-01 21:00:00  18920.0  19210.0  18920.0  19140.0
2023-02-02 21:00:00  19145.0  19225.0  18965.0  19075.0
2023-02-03 21:00:00  19025.0  19160.0  18895.0  19070.0
2023-02-06 21:00:00  19105.0  19105.0  18830.0  19040.0
2023-02-07 21:00:00  18895.0  19120.0  18890.0  19065.0
2023-02-08 21:00:00  19010.0  19195.0  18950.0  19140.0
2023-02-09 21:00:00  19110.0  19110.0  18820.0  18910.0
2023-02-10 21:00:00  18870.0  18955.0  18545.0  18630.0
2023-02-13 21:00:00  18640.0  18640.0  18455.0  18570.0
2023-02-14 21:00:00  18570.0  18645.0  18505.0  18615.0
2023-02-15 21:00:00  18550.0  18655.0  18370.0  18405.0
2023-02-16 21:00:00  18390.0  18585.0  18305.0  18525.0