In [2]:
import pandas as pd
from lutils.stock import LTdxHq

In [3]:
ltdxhq = LTdxHq()

In [4]:
df = ltdxhq.get_k_data_daily('603636')

In [8]:
data = df['2020-01-01':]

In [12]:
data.close.rolling(5).mean()

date
2020-01-02       NaN
2020-01-03       NaN
2020-01-06       NaN
2020-01-07       NaN
2020-01-08    11.812
               ...
2021-09-27     8.888
2021-09-28     8.804
2021-09-29     8.670
2021-09-30     8.548
2021-10-08     8.470
Name: close, Length: 426, dtype: float64

In [22]:
data[(data.high.diff() > 0) & (data.close.diff() < 0) & (data.open > data.close) & (data.close > data.close.rolling(5).mean()) & ((data.high - data.low) / (data.open - data.close) < 5)]

             open  close   high    low      volume       amount
date
2020-01-10  12.40  12.26  12.50  12.16  10634388.0  130621568.0
2020-02-19  15.98  14.62  16.65  14.60  56970072.0  886079360.0
2020-03-03  15.36  15.08  15.71  14.90  25919806.0  398456896.0
2020-03-05  15.30  15.08  15.70  14.88  27789152.0  424261216.0
2020-05-28  11.90  11.78  11.99  11.51   9445033.0  111012352.0
2020-06-02  12.23  12.19  12.25  12.10   8953307.0  108843600.0
2020-08-25  13.83  13.69  13.97  13.55   8051562.0  111049720.0
2020-11-10  10.54  10.42  10.64  10.36   4913678.0   51508376.0
2020-12-11  10.16  10.06  10.34   9.95   7457218.0   75763968.0
2021-01-28   9.93   9.76  10.08   9.70  12744591.0  125479736.0
2021-02-22  10.37  10.13  10.47  10.09   9052471.0   93224504.0
2021-04-23  10.49  10.39  10.69  10.36   6605617.0   69290416.0

In [21]:
(9.32 - 9.09) / (9.20 - 9.18)

11.500000000000266